.wrapper {
    position: absolute;
    justify-content: center;
    display: flex;
    top: 322px;
    align-self: center;
    width: 320px;
    background-color: #333;
}
.background {
    position: absolute;
    top: -332px;
    width: var(--width);
    height: var(--height);
    opacity: 0.5;
    background-color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 170px;
    width: 250px;
    border-radius: 10px;
    position: absolute;
    align-self: center;
    opacity: 1;
    background-color: #70bac6;
}

.name {
    font-size: 24px;
}

.remove-playlist {
    font-size: 22px;
    color: #fff;
    text-align: center;
    border-radius: 999px;
    width: 176px;
    height: 52px;
    margin: 30px 0;
    background-color: #8c0e8f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
    border-radius: 999px;
    width: 70px;
    height: 30px;
    font-size: 18px;
    color: #130405;
    font-weight: 600;
    cursor: pointer;
}
