@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

/*Trên ip12pro */
@media only screen and (max-width: 391px) {
    :root {
        --primary: #fff;
        --height: 722px; //(844px) ;//785px trên ip12prm(936px)
        --width: 390px; //428px trên ip12prm
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html {
        font-size: 62.5%;
    }
    body {
        font-family: 'Montserrat', sans-serif;
    }
}

/*Trên ip12pro max*/
@media only screen and (min-width: 391px) {
    :root {
        --primary: #fff;
        --height: 785px; //(844px) ;//785px trên ip12prm(936px)
        --width: 428px; //428px trên ip12prm
    }
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html {
        font-size: 62.5%;
    }
    body {
        font-family: 'Montserrat', sans-serif;
    }
}
